.find-form{
    text-align: center;
    width: 480px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 200px auto;
}
.find-form-subject{
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: bold;
}
.find-form-div{
    display: grid;
    grid-template-columns: 1fr 3.3fr;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.find-form-title{
    width: 80px;
    display: inline-block;
    text-align: left;
    font-weight: bold; 
}
.reset-form-title{
    text-align: left;
    width: 120px;
    display: inline-block;
}
.find-form-line{
    margin-bottom: 15px;
}
.find-form-input{
    font-size: 0.8em;
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.find-btn-wrap{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.find-btn{
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    background: navy;
    color: #fff;
}
.find-btn-id{
    width: 200px;
}
.find-btn:hover{
    color: #fff;
    background: rgba(0,0,128,0.8);
}

/* 관리자 아이디, 비밀번호 찾기 */
.admin-find-form{
    text-align: center;
    width: 480px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
}
.admin-find-form>.back-button{
    display: flex;
}