.chat-message {
    margin-bottom: 10px;
}

.message-box {
    min-width: 400px;
    max-width: 60%;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    word-break: break-word;
}

.my-message {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: left;
    border-top-right-radius: 0;
}

.other-message {
    background-color: #f1f0f0;
    align-self: flex-start;
    text-align: left;
    border-top-left-radius: 0;
}

.sender {
    font-size: 0.8rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 4px;
    display: block;
}

.timestamp {
    font-size: 0.7rem;
    color: #999;
    margin-top: 5px;
}