.inquiryreply-wrap {
    padding: 20px 40px;
    width: 95%;
    margin: 0 auto;
}

/*제목*/
.inquiryreply-title {
    margin-bottom: 30px;
}

.inquiry-list {
    width: 100%;
    overflow: hidden;
    min-height: 550px;
}


  /* 테이블 영역(memberlist) */
  .memberlist-container {
    margin-top: 20px;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .inquiryreply-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    background-color: #fff;
    font-size: 14px;
  }
  
  .inquiryreply-table th,
  .inquiryreply-table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
  }
  
  .inquiryreply-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
  }

  .inquiryreply-table th:nth-child(1),
  .inquiryreply-table td:nth-child(1) {
  width: 10%;
}

  .inquiryreply-table th:nth-child(2),
  .inquiryreply-table td:nth-child(2) {
  width: 25%;
}

  .inquiryreply-table th:nth-child(3),
  .inquiryreply-table td:nth-child(3) {
  width: 15%;
}

  .inquiryreply-table th:nth-child(4),
  .inquiryreply-table td:nth-child(4) {
  width: 15%;
}

  .inquiryreply-table th:nth-child(5),
  .inquiryreply-table td:nth-child(5) {
  width: 20%;
}

  .inquiryreply-table th:nth-child(6),
  .inquiryreply-table td:nth-child(6) {
  width: 15%;
}
  
  .inquiryreply-table tr:hover {
    background-color: #f1f1f1;
  }

