/* 문의목록 */
.container {
    width: 95%;
    margin: 0 auto;
    min-width: 850px;
}

thead {
    border-bottom: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
}

.td-container {
    height: 40px;
    line-height: 40px;
}

#write {
    text-decoration-line: none;
    color: black;
    cursor: pointer;
    margin-top: 50px;
}

#write:not(:hover) {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.500s;
}

#write:hover {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    background-color: gray;
    transition: all 0.500s;
    color: white;
}

/* 문의작성 */
.inquiry-container {
    width: 80%;
    min-width: 1090px;
    margin: 20px auto;
}

.inquiry-modal {
    width: 80%;
    margin: 20px auto;

}

.inquiry-title {
    width: 98%;
    margin: 5px auto 15px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#addImgDiv {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 47px;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.500s;
}

#addImgDiv:hover {
    background-color: #ddd;
    transition: all 0.500s;
}

.imgList {
    display: flex;
    margin-left: 20px;
}

.imgList>div {
    margin-left: 10px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#inquiry-submit {
    margin-top: 15px;
    text-decoration-line: none;
    color: black;
    cursor: pointer;
}

#inquiry-submit:not(:hover) {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.500s;
}

#inquiry-submit:hover {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: gray;
    transition: all 0.500s;
    color: white;
}

#inquiry-cancel {
    margin-left: 10px;
    text-decoration-line: none;
    color: black;
    cursor: pointer;
}

#inquiry-cancel:not(:hover) {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.500s;
}

#inquiry-cancel:hover {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: gray;
    transition: all 0.500s;
    color: white;
}

#inquiry-box {
    border-radius: 0 0 10px 10px;
}

#inquiryModal {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    min-width: 560px;
    background-color: white;
    z-index: 10;
    border: 3px solid #ddd;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#toDetail {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.noInquiryMsg {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 50px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#secret-select {
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    text-align: right;
}

/*문의 디테일*/
.viewpage-img {
    cursor: pointer;
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin: 10px 15px 5px 0;
}

#del-inquiry {
    position: relative;
    left: 90%;
    text-align: center;
    text-decoration-line: none;
    color: black;
    cursor: pointer;
    width: 60px;
}

#del-inquiry:not(:hover) {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.500s;
}

#del-inquiry:hover {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    background-color: gray;
    transition: all 0.500s;
    color: white;
}

/*뷰페이지 모달*/

#img-modal {
    position: fixed;
    top: 25%;
    left: 10%;
    height: 600px;
    width: 80%;
    min-width: 550px;
    background-color: white;
    z-index: 5;
    border: 3px solid #ddd;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.modal-content {
    width: 97%;
    height: 580px;
    margin: auto;
    background-color: white;
    z-index: 10;
}

#modal-close {
    position: absolute;
    left: 95%;
    width: 50px;
    cursor: pointer;
    transition: all 0.500s;
}

#modal-close:hover {
    transform: scale(1.2);
    transition: all 0.500s;
}

.move-img {
    width: 50px;
    transition: all 0.500s;
    cursor: pointer;
}

.move-img:hover {
    transform: scale(1.2);
    transition: all 0.500s;
    cursor: pointer;
}
